name: Python Code Assessment

on:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: [3.6, 3.7, 3.8]
        WORK_DIR: ["./modules/aws/lambda/functions/batch_job_function"]
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}

      - name: Install Dev Dependencies
        working-directory: ${{ matrix.WORK_DIR }}
        run: |
          python -m pip install --upgrade pip 
          pip install flake8 yapf mypy boto3 
          if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi

      - name: Checks
        working-directory: ${{ matrix.WORK_DIR }}
        run: |
          flake8 \
            --max-line-length=119 \
            --ignore=E121,E123,E126,E133,E226,E241,E242,E704,W503,W504,W505,E127,E266,E402,W605,W391,E701,E731 \
            src/
          yapf -r -d --style pep8 src/
          mypy \
            --ignore-missing-imports \
            --python-version ${{ matrix.PYTHON_VERSION }} \
            --disallow-untyped-defs \
            --no-implicit-optional \
            --allow-redefinition \
            --show-error-context \
            --pretty \
            src

      - name: Zip archiving check
        working-directory: $ {{ matrix.WORK_DIR }}
        run: \
          mkdir -p build/function/
          cp -r src build/function/

          zip -rj compare.zip build/function/src/
          diff compare.zip function.zip
