# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Code Assessment

on:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: [3.6, 3.7, 3.8]
        WORK_DIR: ["./modules/aws/lambda/functions/batch_job_function"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}
      # - name: Setup cache
      #   uses: actions/cache@v2
      #   with:
      #     path: ${{ env.WORKING_DIRECOTRY }}/.venv
      #     key: venv-${{ runner.os }}-${{ matrix.PYTHON_VERSION }}-${{ matrix.WORK_DIR }}-${{ hashFiles("requirements.txt") }}
      #     restore_keys: |
      #       venv-${{ runner.os }}-${{ matrix.PYTHON_VERSION }}-${{ matrix.WORK_DIR }}-${{ hashFiles("requirements.txt") }}
      #       venv-${{ runner.os }}-${{ matrix.PYTHON_VERSION }}-${{ matrix.WORK_DIR }}-

      - name: Install Dev Dependencies
        working-directory: ${{ matrix.WORK_DIR }}
        run: |
          python -m venv .venv 
          source .venv/bin/python

          python -m pip install --upgrade pip 
          pip install flake8 yapf mypy 
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Checks
        working-directory: ${{ matrix.WORK_DIR }}
        run: |
          source .venv/bin/python

          flake8 \
            --max-line-length=119 \
            --ignore=E121,E123,E126,E133,E226,E241,E242,E704,W503,W504,W505,E127,E266,E402,W605,W391,E701,E731 \
            src/
          yapf -r -d --style pep8 src/
          mypy \
            --ignore-missing-imports \
            --python-version ${{ matrix.PYTHON_VERSION }} \
            --disallow-untyped-defs \
            --no_implicit_optional \
            --allow-redefinition \
            --show_error_context \
            --pretty \
            src
